/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

html, body {
    height: auto;
    font-family: 'Play', sans-serif;
	width: 100%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Play', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 10%;
    background: #333333;
    padding: 0.5rem;
    border: 1px solid gray;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
}

.hidden {
    opacity: 0%;
}

.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: #eba49d;
}

.back-to-top:hover {
    opacity: 60%;
}

header {
    height: 20%;
    width: 100%;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: transparent;
}

header a {
    margin: 0 15%;
    width: auto;
}

header span {
    display: none;
}

.nav-logo {
    margin-left: 17vw;
    width: 10vw;
}

.navbar-fixed-top {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.closebtn {
    display: none;
}

.overlay-content {
    display: flex;
    width: 100%;
    flex-direction: row;
}

ul {
    align-items: center;
    height: 100%;
}

li {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

li:last-child {
    text-decoration: underline;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #333333;
    font-size: 1vw;
    align-items: center;
    width: 100%;
}

a:hover {
    color: #eba49d;
}

.hamburger {
    display: none;
}

main {  
    height: 100%;
    width: 100vw;
    display: block;
    text-align: justify;
    margin-bottom: 10%;
    margin-top: auto;
    padding-top: 15%;
}

form {
    position: relative;
    margin-left: 20%;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 11%;
    padding-bottom: 5%;
    border: 0.5px solid #d9d9d9;
    line-height: 200%;
}

.form-title {
    margin-bottom: 15%;
    text-align: center;
}

form h1 {
    font-size: 2vw;
}

form p {
    padding-top: 1vh;
    font-size: 0.8vw;
}

label {
    text-align: left;
    font-size: 1.1vw;
}

input {
    line-height: 200%;
    width: 100%;
    margin: 1% 0 1% 0;
    padding: 1% 1%;
    transition: 0.5s;
    font-family: 'Play', sans-serif;
    font-size: medium;
    border: 0;
    border-bottom: 1px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
}

input:hover {
    opacity: 0.7;
}

textarea {
    margin: 1% 0 5% 0;
    width: 100%;
    font-family: 'Play', sans-serif;
    font-size: medium;
    border: 0.5px solid #d9d9d9;
    transition: 0.5s;
    color: #333333;
}

textarea:hover {
    opacity: 0.7;
}

form button {
    background: #333333;
    border-bottom: 1px solid white;
    color: #333333;
    line-height: 1.4;
    padding: 0.25em;
    text-decoration: none;
}

form button:hover {
    background: white;
    color: #333333;
}

button.btn {
    color: #333333;
    cursor: pointer;
    font-size: x-large;
    font-weight: 500;
    line-height: 50px;
    margin: 5% 0 2em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 40%;
    margin-left: 30%;
}

button.btn:hover {
    text-decoration: none;
}

button.btn-2 {
    letter-spacing: 0;
}
  
button.btn-2:hover,
button.btn-2:active {
    letter-spacing: 5px;
}
  
button.btn-2:after,
button.btn-2:before {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border: 1px solid white;
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0%;
 }
  
button.btn-2:hover:after,
button.btn-2:hover:before {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-color: #333333;
    transition: width 350ms ease-in-out;
    width: 70%;
}
  
button.btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
}

.picb4footer {
    background-image: url("./img/pyrgos/pano2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.picb4footer a {
    text-align: center;
    background-color: #333333;
    color: #eba49d;
    width: 10%;
    height: 45px;
    font-size: medium;
    margin-top: 15%;
    border-radius: 5px;
    transition: 0.5s;
}

.picb4footer a:hover {
    opacity: 0.7;
    background-color: #eba49d;
    color: #333333;
}

footer {
    background-color: #333333;
    color: #d9d9d9;
    text-align: center;
    width: 100%;
    height: auto;
    bottom: 0px;
}

.logo-details {
    display: inline-block;
    justify-self: center;
}

span {
    color: #d9d9d9;
    font-size: medium;
    width: auto;
    display: flex;
    justify-content: center;
}

span a {
    color: #d9d9d9;
    font-size: medium;
    display: inline;
}

.social {
    display: flex;
    justify-content: center;
    height: auto;
}

.social a {
    display: flex;
    width: 3%;
    margin-left: 1%;
    margin-right: 1%;
    height: 50px;
}

.fa {
    margin: 0;
    font-size: 30px;
    text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.7;
  } 
  
  .fa-facebook {
    color: #eba49d;
  }
  
  .fa-google {
    color: #eba49d;
  }
  
  .fa-youtube {
    color: #eba49d;
  }
  
  .fa-instagram {
    color: #eba49d;
  }

  .fa-tiktok {
    color: #eba49d;
  }

  .fa-tiktok:hover {
    opacity: 0.7;
  }
  
  footer .heart {
    color: #eba49d;
}

@media only screen and (min-width: 1535px) {
    /* For Large Desktop Screens: */

    .nav-logo {
        margin-left: 1vw;
        width: 100%;
    }

    .overlay-content {
        width: 60vw;
        margin-left: -12vw;
    }

    li {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-right: 9vw;
    }

    .nav-item a {
        font-size: 1.5vw;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    .picb4footer a {
        margin-top: 30vh;
    }

    .social a {
        display: flex;
        width: 2%;
        margin-left: 1%;
        margin-right: 1%;
        height: 50px;       
    }

}

@media only screen and (min-width: 1366px) and (max-width: 1535px) {
    /* For Desktops: */
 
    .nav-logo {
        margin-left: 1vw;
        width: 100%;
    }

    .overlay-content {
        width: 60vw;
        margin-left: -12vw;
    }

    li {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: left;
        margin-right: 7vw;
    }

    .nav-item a {
        font-size: 1.5vw;
    }

    .nav-link3 {
        width: 8vw;
    }

    .form-title {
        margin-bottom: 15%;
        text-align: center;
    }
    
    form h1 {
        font-size: 3vw;
    }
    
    form p {
        padding-top: 1vh;
        font-size: 1vw;
    }

    .picb4footer a {
        margin-top: 30vh;
    }
    
    .social a {
        display: flex;
        width: 2%;
        margin-left: 1.2%;
        margin-right: 1.2%;
        height: 50px;       
    }   
}

@media only screen and (min-width: 864px) and (max-width: 1366px) {
    /* For Laptops and Desktops: */

    .nav-logo {
        margin-left: 1vw;
        width: 100%;
    }

    .overlay-content {
        width: 60vw;
        margin-left: -12vw;
    }

    li {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: left;
        margin-right: 7vw;
    }

    .nav-item a {
        font-size: 2vw;
    }

    .nav-link3 {
        width: 14vw;
    }

    .form-title {
        margin-bottom: 15%;
        text-align: center;
    }
    
    form h1 {
        font-size: 3vw;
    }
    
    form p {
        padding-top: 1vh;
        font-size: 1.1vw;
    }

    label {
        font-size: 1.6vw;
    }

    .flex input {
        font-size: 1.6vw;
    }

    .flex textarea {
        font-size: 1.6vw;
        line-height: 3vw;
    }

    button.btn {
        width: 50%;
        margin: 0 25%;
    }

    .picb4footer a {
        margin-top: 30vh;
        width: auto;
    }
    
    .social a {
        display: flex;
        width: 3%;
        margin-left: 2%;
        margin-right: 2%;
        height: 50px;       
    }

}

@media only screen and (min-width: 511px) and (max-width: 864px) {

    /* For Tablets */

    .nav-logo {
        margin-left: 1vw;
        width: 100%;
    }

    .overlay-content {
        width: 60vw;
        margin-left: -12vw;
    }

    li {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: left;
        margin-right: 7vw;
    }

    .nav-item a {
        font-size: 2.5vw;
    }

    .nav-link3 {
        width: 18vw;
    }

    .back-to-top {
        right: 1rem;
        bottom: 1rem;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    form {
        width: 70%;
        margin-left: 15%;
    }

    .form-title {
        margin-bottom: 15%;
        text-align: center;
    }
    
    form h1 {
        font-size: 4vw;
    }
    
    form p {
        padding-top: 1vh;
        font-size: 2vw;
    }

    label {
        font-size: 2vw;
    }

    .flex input {
        font-size: 2vw;
    }

    .flex textarea {
        font-size: 2vw;
        line-height: 3vw;
    }

    button.btn {
        width: 70%;
        margin: 0 15%;
    }

    .picb4footer a {
        margin-top: 30vh;
        padding: 1.5vw;
        width: auto;
        font-size: 2vw;
    }
    
    .social a {
        display: flex;
        width: 5%;
        margin-left: 3%;
        margin-right: 3%;
        height: 50px;       
    }

}

@media only screen and (min-width: 361px) and (max-width: 511px) {

    /* For Mobile Phones */

    .navbar-fixed-top {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-left: 0%;
        height: 80%;
    }

    .nav-logo {
        visibility: visible;
        margin-left: 25%;
        margin-top: 2%;
        width: 50%;
    }

    .back-to-top {
        right: 1rem;
        bottom: 1rem;
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.95);
        overflow-y: hidden;
        transition: 0.5s;
        display: flex;
        justify-content: center;
    }
    
    .overlay-content {
        display: flex;
        flex-direction: column;
        position: relative;
        width: fit-content;
        text-align: center;
        margin-top: 20%;
    }
    
    .overlay a {
        display: flex;
        text-decoration: none;
        color: #818181;
        transition: 0.3s;
    }
      
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
      
    .closebtn {
        position: absolute;
        top: 20px;
        right: -10vw;
        width: auto;
        font-size: 40px;
    }
    
    .overlay-content a {
        font-size: 20px;
        margin: 80px;
    }

    .hamburger {
        display: inline-flex;
        position: absolute;
        width: fit-content;
        color: #333333;
        background-color: transparent;
        margin-top: 3%;
        margin-left: 5%;
    }

    a {
        display: flex;
        text-decoration: none;
        color: #333333;
        font-size: small;
        align-items: center;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    form {
        width: 70%;
        margin-left: 15%;
    }

    .form-title {
        margin-bottom: 15%;
        text-align: center;
    }
    
    form h1 {
        font-size: 4.5vw;
    }
    
    form p {
        padding-top: 1vh;
        font-size: 2.5vw;
    }

    label {
        font-size: 3.5vw;
    }

    .flex input {
        font-size: 3.5vw;
    }

    .flex textarea {
        font-size: 3.5vw;
        line-height: 4vw;
    }

    button.btn {
        width: 80%;
        margin: 0 10%;
        font-size: 5vw;
    }

    .picb4footer a {
        padding: 1vw;
        margin-top: 30vh;
        width: auto;
        font-size: 2vw;
    }

    .social a {
        display: flex;
        width: 8%;
        margin-left: 4%;
        margin-right: 4%;
        height: 50px;       
    }

}

@media only screen and (max-width: 360px) {
    /* For Small screens */
    
    .navbar-fixed-top {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-left: 0%;
        height: 80%;
    }

    .nav-logo {
        visibility: visible;
        margin-left: 25%;
        margin-top: 1%;
        width: 50%;
    }

    .back-to-top {
        right: 1rem;
        bottom: 1rem;
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.95);
        overflow-y: hidden;
        transition: 0.5s;
        display: flex;
        justify-content: center;
    }
    
    .overlay-content {
        display: flex;
        flex-direction: column;
        position: relative;
        width: fit-content;
        text-align: center;
        margin-top: 20%;
    }

    .overlay-content a {
        font-size: 20px;
        margin: 80px;
    }
    
    .overlay a {
        display: flex;
        text-decoration: none;
        color: #818181;
        transition: 0.3s;
    }
      
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    .closebtn {
        right: -10vw;
        width: auto;
        position: absolute;
        top: 20px;
        font-size: 40px;
    }

    .hamburger {
        display: inline-flex;
        position: absolute;
        width: fit-content;
        color: #333333;
        background-color: transparent;
        margin-top: 1.5%;
        margin-left: 5%;
    }

    .back-to-top {
        right: 1rem;
        bottom: 1rem;
    }

    a {
        display: flex;
        text-decoration: none;
        color: #333333;
        font-size: small;
        align-items: center;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    form {
        width: 70%;
        margin-left: 15%;
    }

    .form-title {
        margin-bottom: 15%;
        text-align: center;
    }
    
    form h1 {
        font-size: 4.5vw;
    }
    
    form p {
        padding-top: 1vh;
        font-size: 2.5vw;
    }

    label {
        font-size: 4vw;
    }

    .flex input {
        font-size: 3.5vw;
    }

    .flex textarea {
        font-size: 4vw;
        line-height: 4vw;
    }

    button.btn {
        width: 80%;
        margin: 0 10%;
        font-size: 6vw;
    }

    .picb4footer a {
        padding: 1vw;
        margin-top: 30vh;
        width: auto;
        font-size: 2vw;
    }

    span p,
    span a {
        font-size: 4vw;
    }

    .copyright {
        font-size: 4vw;
    }

    .social a {
        display: flex;
        width: 8%;
        margin-left: 5%;
        margin-right: 5%;
        height: 50px;       
    }

}   
