/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

html, body {
    box-sizing: border-box;
    height: auto;
    font-family: 'Play', sans-serif;
	width: 100%;
	margin: 0 auto;
    /* perspective: 100%; */
}

h1, h2, h3, h4, h5 {
    font-family: 'Play', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 10%;
    background: #333333;
    padding: 0.5rem;
    border: 1px solid gray;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
}

.hidden {
    opacity: 0%;
}

.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: #eba49d;
}

.back-to-top:hover {
    opacity: 60%;
}

header {
    height: 20%;
    width: 100%;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: transparent;
}

header a {
    margin: 0 15%;
    width: auto;
}

.navbar-fixed-top {
    display: flex;
    width: 100%;
}

#navigation img {
    width: 350px;
    height: auto;
}

ul {
    align-items: center;
    height: 100%;
    width: 100%;
}

li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

li:last-child {
    text-decoration: underline;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #333333;
    font-size: x-large;
    align-items: center;
    width: 100%;
}

a:hover {
    color: #eba49d;
}

.hamburger {
    display: none;
}

main {  
    height: 1450px;
    margin-top: 9.5%;
    margin-bottom: 9.5%;
    width: 100%;
}

form {
    position: relative;
    margin-left: 20%;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 11%;
    border: 0.5px solid #d9d9d9;
    line-height: 200%;
}

.form-title {
    margin-bottom: 15%;
    text-align: center;
}

form h2 {
    font-size: xx-large;
}

label {
    text-align: left;
    font-size: larger;
}

input {
    line-height: 200%;
    width: 100%;
    margin: 1% 0 1% 0;
    padding: 1% 1%;
    transition: 0.5s;
    font-family: 'Play', sans-serif;
    font-size: medium;
    border: 0;
    border-bottom: 1px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
}

input:hover {
    opacity: 0.7;
}

textarea {
    margin: 1% 0 5% 0;
    width: 100%;
    font-family: 'Play', sans-serif;
    font-size: medium;
    border: 0.5px solid #d9d9d9;
    transition: 0.5s;
    color: #333333;
}

textarea:hover {
    opacity: 0.7;
}

/* form button {
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    padding: 1% 2% 1% 2%;
    background-color: #d9d9d9;
    color: #333333;
    border-radius: 30px;
    border: 0.5px solid #333333;
    font-family: 'Play', sans-serif;
    font-size: x-large;
    transition: 0.5s;
    cursor: pointer;
}

form button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: #eba49d;
} */

form button {
    background: #333333;
    border-bottom: 1px solid white;
    color: #333333;
    line-height: 1.4;
    padding: 0.25em;
    text-decoration: none;
}

form button:hover {
    background: white;
    color: #333333;
}

button.btn {
    color: #333333;
    cursor: pointer;
    font-size: x-large;
    font-weight: 500;
    line-height: 50px;
    margin: 5% 0 2em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 40%;
    margin-left: 30%;
}

button.btn:hover {
    text-decoration: none;
}

button.btn-2 {
    letter-spacing: 0;
}
  
button.btn-2:hover,
button.btn-2:active {
    letter-spacing: 5px;
}
  
button.btn-2:after,
button.btn-2:before {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border: 1px solid white;
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0%;
 }
  
button.btn-2:hover:after,
button.btn-2:hover:before {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-color: #333333;
    transition: width 350ms ease-in-out;
    width: 70%;
}
  
button.btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
}

.picb4footer {
    background-image: url("./img/pyrgos/pano2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.picb4footer a {
    text-align: center;
    background-color: #333333;
    color: #eba49d;
    width: 10%;
    height: 45px;
    font-size: medium;
    margin-top: 15%;
    border-radius: 5px;
    transition: 0.5s;
}

.picb4footer a:hover {
    opacity: 0.7;
    background-color: #eba49d;
    color: #333333;
}

footer {
    background-color: #333333;
    color: #d9d9d9;
    text-align: center;
    width: 100%;
    height: auto;
    bottom: 0px;
}

.logo-details {
    display: inline-block;
    justify-self: center;
}

span {
    color: #d9d9d9;
    font-size: medium;
    width: auto;
    display: flex;
    justify-content: center;
}

span a {
    color: #d9d9d9;
    font-size: medium;
    display: inline;
}

.social {
    display: flex;
    justify-content: center;
    height: auto;
}

.social a {
    display: flex;
    width: 3%;
    margin-left: 1%;
    margin-right: 1%;
    height: 50px;
}

.fa {
    margin: 0;
    font-size: 30px;
    text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.7;
  } 
  
  .fa-facebook {
    color: #eba49d;
  }
  
  .fa-google {
    color: #eba49d;
  }
  
  .fa-youtube {
    color: #eba49d;
  }
  
  .fa-instagram {
    color: #eba49d;
  }

  .fa-tiktok {
    color: #eba49d;
  }
  
  footer .heart {
    color: #eba49d;
}