/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: auto;
    font-family: 'Play', sans-serif;
	width: 100%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Play', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 10%;
    background: #333333;
    padding: 0.5rem;
    border: 1px solid gray;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
}

.hidden {
    opacity: 0%;
}

.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: #eba49d;
}

.back-to-top:hover {
    opacity: 60%;
}

header {
    height: 20%;
    width: 100%;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: transparent;
}

header a {
    margin: 0 15%;
    width: 100%;
}

header span {
    display: none;
}

.nav-logo {
    margin-left: 17vw;
    width: 10vw;
}

.navbar-fixed-top {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.closebtn {
    display: none;
}

.overlay-content {
    display: flex;
    width: 100%;
    flex-direction: row;
}

ul {
    align-items: center;
    height: 100%;
}

li {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #333333;
    font-size: 1vw;
    align-items: center;
    width: 100%;
}

a:hover {
    color: #eba49d;
}

main {
    height: 100%;
    width: 70%;
    display: block;
    text-align: justify;
    margin-left: 15%;
    margin-bottom: 15%;
    margin-top: auto;
    padding-top: 15%;
}

main a {
    display: inline;
    justify-content: center;
    text-decoration: none;
    color: #333333;
    font-size: medium;
    align-items: center;
    width: 100%;
}

main a:hover {
    color: #eba49d;
}

main ul {
    margin-top: 2%;
    line-height: 25px;
    
}

main strong {
    font-weight: bold;
}

h1 {
    font-size: 50px;
    display: inline;
}

main img {
    display: inline;
    position: absolute;
    right: 20%;
    top: 22%;
}

h2 {
    padding-top: 15px;
    font-weight: bolder;
    font-size: large;
}

p {
    line-height: 25px;
}

.navbar-fixed-top li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #333333;
    font-size: x-large;
    align-items: center;
    width: 100%;
}

a:hover {
    color: #eba49d;
}

footer {
    background-color: #333333;
    color: #d9d9d9;
    text-align: center;
    width: 100%;
    margin-top: auto;
    height: 100%;
}

span {
    color: #d9d9d9;
    font-size: medium;
    width: auto;
    display: flex;
    justify-content: center;
}

span a {
    color: #d9d9d9;
    font-size: medium;
    display: inline;
}

.social {
    display: flex;
    justify-content: center;
    height: auto;
}

.social a {
    display: flex;
    width: 3%;
    margin-left: 1%;
    margin-right: 1%;
    height: 50px;
}

.fa {
    margin: 0;
    font-size: 30px;
    text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: #eba49d;
  }
  
  .fa-google {
    color: #eba49d;
  }
  
  .fa-youtube {
    color: #eba49d;
  }
  
  .fa-instagram {
    color: #eba49d;
  }

  .fa-tiktok {
    color: #eba49d;
    
  }
  
  footer .heart {
    color: #eba49d;
}

@media only screen and (min-width: 1535px) {
    /* For Large Desktop Screens: */

    .nav-logo {
        margin-left: 1vw;
        width: 100%;
    }

    .overlay-content {
        width: 60vw;
        margin-left: -12vw;
    }

    li {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-right: 9vw;
    }

    .nav-item a {
        font-size: 1.5vw;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    h1 {
        display: block;
        margin-top: auto;
        margin-bottom: 5vh;
        width: auto;
    }

    main > img {
        width: 8%;
        display: flex;
        flex-direction: column;
        right: 15vw;
        margin-top: 5vw;
    }

    main ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    main li {
        width: auto;
        float: left;
    }

    main li:first-child {
        width: auto;
    }

    .social a {
        display: flex;
        width: 2%;
        margin-left: 1%;
        margin-right: 1%;
        height: 50px;       
    }

}

@media only screen and (min-width: 1366px) and (max-width: 1535px) {
    /* For Desktops: */
 
    .nav-logo {
        margin-left: 1vw;
        width: 100%;
    }

    .overlay-content {
        width: 60vw;
        margin-left: -12vw;
    }

    li {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: left;
        margin-right: 7vw;
    }

    .nav-item a {
        font-size: 1.5vw;
    }

    .nav-link3 {
        width: 8vw;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    h1 {
        display: block;
        margin-top: auto;
        margin-bottom: 5vh;
        width: 60vw;
    }

    main > img {
        width: 10%;
        display: flex;
        flex-direction: column;
        right: 15vw;
        margin-top: 4vw;
    }

    main ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    main li {
        width: auto;
        float: left;
    }

    main li:first-child {
        width: auto;
    }

    .social a {
        display: flex;
        width: 3%;
        margin-left: 1%;
        margin-right: 1%;
        height: 50px;       
    }   
}

@media only screen and (min-width: 864px) and (max-width: 1366px) {
    /* For Laptops and Desktops: */

    .nav-logo {
        margin-left: 1vw;
        width: 100%;
    }

    .overlay-content {
        width: 60vw;
        margin-left: -12vw;
    }

    li {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: left;
        margin-right: 7vw;
    }

    .nav-item a {
        font-size: 2vw;
    }

    .nav-link3 {
        width: 21vw;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    h1 {
        display: block;
        margin-top: auto;
        margin-bottom: 5vh;
        width: 60vw;
    }

    main > img {
        width: 10%;
        display: flex;
        flex-direction: column;
        right: 15vw;
        margin-top: 2vw;
    }

    main ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    main li {
        width: auto;
        float: left;
    }

    main li:first-child {
        width: auto;
    }

    .social a {
        display: flex;
        width: 2%;
        margin-left: 2%;
        margin-right: 2%;
        height: 50px;       
    }

}

@media only screen and (min-width: 511px) and (max-width: 864px) {

    /* For Tablets */

    .nav-logo {
        margin-left: 1vw;
        width: 100%;
    }

    .overlay-content {
        width: 60vw;
        margin-left: -12vw;
    }

    li {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: left;
        margin-right: 7vw;
    }

    .nav-item a {
        font-size: 2.5vw;
    }

    .nav-link3 {
        width: 21vw;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    h1 {
        display: block;
        margin-top: auto;
        margin-bottom: 5vh;
        width: 60vw;
    }

    main > img {
        width: 12%;
        display: block;
        right: 15vw;
        margin-top: -2vw;
    }

    main ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    main li {
        width: auto;
        float: left;
    }

    main li:first-child {
        width: auto;
    }

    .social a {
        display: flex;
        width: 4%;
        margin-left: 3%;
        margin-right: 3%;
        height: 50px;       
    }

}

@media only screen and (min-width: 361px) and (max-width: 510px) {

    /* For Mobile Phones */

    .navbar-fixed-top {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-left: 0%;
        height: 80%;
    }

    .nav-logo {
        visibility: visible;
        margin-left: 25%;
        margin-top: 0%;
        width: 50%;
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.95);
        overflow-y: hidden;
        transition: 0.5s;
        display: flex;
        justify-content: center;
    }
    
    .overlay-content {
        display: flex;
        flex-direction: column;
        position: relative;
        width: fit-content;
        text-align: center;
        margin-top: 20%;
    }
    
    .overlay a {
        display: flex;
        text-decoration: none;
        color: #818181;
        transition: 0.3s;
    }
      
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
      
    .closebtn {
        position: absolute;
        top: 20px;
        right: -10vw;
        width: auto;
        font-size: 40px;
    }
    
    .overlay-content a {
        font-size: 20px;
        margin: 80px;
    }

    .hamburger {
        display: inline-flex;
        position: absolute;
        width: fit-content;
        color: #333333;
        background-color: transparent;
        margin-top: 4%;
        margin-left: 5%;
    }

    a {
        display: flex;
        text-decoration: none;
        color: #333333;
        font-size: small;
        align-items: center;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    h1 {
        display: block;
        margin-top: auto;
        margin-bottom: 5vh;
        width: 60vw;
    }

    main > img {
        width: 15%;
        display: flex;
        flex-direction: column;
        right: 15vw;
        margin-top: -5%;
    }

    main ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    main li {
        width: auto;
        float: left;
    }

    main li:first-child {
        width: auto;
    }

    .social a {
        display: flex;
        width: 8%;
        margin-left: 4%;
        margin-right: 4%;
        height: 50px;       
    }

}

@media only screen and (max-width: 360px) {
    /* For Small screens */
    
    .navbar-fixed-top {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-left: 0%;
        height: 80%;
    }

    .nav-logo {
        visibility: visible;
        margin-left: 25%;
        margin-top: 0%;
        width: 50%;
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.95);
        overflow-y: hidden;
        transition: 0.5s;
        display: flex;
        justify-content: center;
    }
    
    .overlay-content {
        display: flex;
        flex-direction: column;
        position: relative;
        width: fit-content;
        text-align: center;
        margin-top: 20%;
    }

    .overlay-content a {
        font-size: 20px;
        margin: 80px;
    }
    
    .overlay a {
        display: flex;
        text-decoration: none;
        color: #818181;
        transition: 0.3s;
    }
      
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    .closebtn {
        right: -10vw;
        width: auto;
        position: absolute;
        top: 20px;
        font-size: 40px;
    }

    .hamburger {
        display: inline-flex;
        position: absolute;
        width: fit-content;
        color: #333333;
        background-color: transparent;
        margin-top: 4%;
        margin-left: 5%;
    }

    a {
        display: flex;
        text-decoration: none;
        color: #333333;
        font-size: small;
        align-items: center;
    }

    main {
        height: auto;
        display: block;
        margin-top: 7vh;
        margin-bottom: 45vh;
    }

    main > img {
        width: 15%;
        display: flex;
        flex-direction: column;
        right: 15vw;
        margin-top: 1%;
    }

    main li {
        width: auto;
        float: left;
    }

    main li:first-child {
        width: auto;
    }

    .social a {
        display: flex;
        width: 8%;
        margin-left: 4%;
        margin-right: 4%;
        height: 50px;       
    }
}   
