/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

html, body {
    height: auto;
    font-family: 'Play', sans-serif;
	width: 100%;
	margin: 0 auto;
    /* perspective: 100%; */
}

h1, h2, h3, h4, h5 {
    font-family: 'Play', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* .circle {
    width: 40px;
    height: 40px;
    background: linear-gradient(to top left, #5b5b5b, #a5a5a5);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    pointer-events: none;
    mix-blend-mode: multiply;
    z-index: 10;
  } */

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 10%;
    background: #333333;
    padding: 0.5rem;
    border: 1px solid gray;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
}

.hidden {
    opacity: 0%;
}

.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: #eba49d;
}

.back-to-top:hover {
    opacity: 60%;
}

header {
    height: 20%;
    width: 100%;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: transparent;
}

header a {
    margin: 0 15%;
    width: auto;
}

.navbar-fixed-top {
    display: flex;
    width: 120%;
}

ul {
    align-items: center;
    height: 100%;
    width: 100%;
}

li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #333333;
    font-size: x-large;
    align-items: center;
    width: 100%;
}

a:hover {
    color: #eba49d;
}

.hamburger {
  display: none;
}

main {
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;
    max-width: 60%;
    margin-left: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides:focus {
    visibility: visible;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background-color: #d9d9d9;
  color: gray;
  opacity: 50%;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  /* border-radius: 0 3px 3px 0; */
  border: 0.5px solid gray;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 20%;
  border-radius: 0 3px 3px 0;
}

.prev {
    left: 20%;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  opacity: 100%;
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/4 etc) */
/* .numbertext {
  color: #333333;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  margin-left: 20%;
} */

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 2% 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.properties-text {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    margin-bottom: 4%;
    text-align: center;
    font-size: x-large;
    margin-left: 10%;
    line-height: 30px;
}

.properties-text h1 {
    font-size: xx-large;
    margin-top: 20%;
}

.properties-text p {
    line-height: 200%;
}

.properties-text a {
    display: inline;
}   

.row {
    display: flex;
    align-items: center;
    width: 120%;
    margin-left: -10%;
    padding-bottom: 3%;
}

/* .row a:first-child {
    margin-right: 10%;
    padding-right: 2%;
}

.row a:last-child {
    margin-left: 10%;
    padding-left: 2%;
} */

/* Below CSS refers to OpenModal and CloseModal functions for pictures slider */

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    position: fixed;
    z-index: 1;
    /* padding-top: 100px; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding-top: 1.5%;
    width: 100%;
    max-width: 1000px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .previous,
  .nextt {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .nextt {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .previous:hover,
  .nextt:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  /* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } */
  
  /* .column img {
    margin-bottom: -4px;
  } */
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.7s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 70%;
  }

footer {
    background-color: #333333;
    color: #d9d9d9;
    text-align: center;
    width: 100%;
    height: 100%;
    bottom: 0px;
}

span {
    color: #d9d9d9;
    font-size: medium;
    width: auto;
    display: flex;
    justify-content: center;
}

span a {
    color: #d9d9d9;
    font-size: medium;
    display: inline;
}

.social {
    display: flex;
    justify-content: center;
    height: auto;
}

.social a {
    display: flex;
    width: 3%;
    margin-left: 1%;
    margin-right: 1%;
    height: 50px;
}

.fa {
    margin: 0;
    font-size: 30px;
    text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: #eba49d;
  }
  
  .fa-google {
    color: #eba49d;
  }
  
  .fa-youtube {
    color: #eba49d;
  }
  
  .fa-instagram {
    color: #eba49d;
  }

  .fa-tiktok {
    color: #eba49d;
  }

  .fa-tiktok:hover {
    opacity: 0.7;
  }
  
  footer .heart {
    color: #eba49d;
}
