/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: auto;
    font-family: 'Play', sans-serif;
	width: 100%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Play', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 10%;
    background: #333333;
    padding: 0.5rem;
    border: 1px solid gray;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
}

.hidden {
    opacity: 0%;
}

.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: #eba49d; 
}

.back-to-top:hover {
    opacity: 60%;
}

header {
    height: 20%;
    width: 100%;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: transparent;
}

header a {
    margin: 0 15%;
    width: auto;
}

.navbar-fixed-top {
    display: flex;
    width: 100%;
}

ul {
    align-items: center;
    height: 100%;
    width: 100%;
}

li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #333333;
    font-size: x-large;
    align-items: center;
    width: 100%;
}

a:hover {
    color: #eba49d;
}

.hamburger {
    display: none;
}

main {
    height: 1300px;
    display: block;
}

.pyrgos-main-img {
    background-image: url("./img/pyrgos/seaview3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55%;
    width: 100%;
    position: relative;
}

.pyrgos-main-text {
    height: auto;
    width: 50%;
    padding-top: 12%;
    text-align: center;
    font-size: x-large;
    margin-left: 25%;
    transition: transform 0.5s;
    line-height: 40px;
}

.pyrgos-main-text:hover {
    transform: scale(1.02);
}

.pyrgos-main-text a {
    display: block;
    color: #333333;
}

footer {
    background-color: #333333;
    color: #d9d9d9;
    text-align: center;
    width: 100%;
    height: 100%;
    bottom: 0px;
}

span {
    color: #d9d9d9;
    font-size: medium;
    width: auto;
    display: flex;
    justify-content: center;
}

span a {
    color: #d9d9d9;
    font-size: medium;
    display: inline;
}

.social {
    display: flex;
    justify-content: center;
    height: auto;
}

.social a {
    display: flex;
    width: 3%;
    margin-left: 1%;
    margin-right: 1%;
    height: 50px;
}

.fa {
    margin: 0;
    font-size: 30px;
    text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: #eba49d;
  }
  
  .fa-google {
    color: #eba49d;
  }
  
  .fa-youtube {
    color: #eba49d;
  }
  
  .fa-instagram {
    color: #eba49d;
  }
  
  footer .heart {
    color: #eba49d;
}

@media only screen and (min-width: 1536px) {
    /* For Large Desktop Screens: */

    main {
        height: 1366px;
        display: block;
    }

    .pyrgos-main-text {
        width: 50%;
        /* margin-top: 0%; */
        text-align: center;
        font-size: larger;
        margin-left: 25%;
        transition: transform 0.5s;
    }

    .pyrgos-main-text p {
        line-height: 50px;
    }
}

@media only screen and (min-width: 1367px) {
    /* For Desktops: */

    .pyrgos-main-img {
        background-image: url("./img/pyrgos/seaview3.jpg");
        background-position: center;    
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    
    .pyrgos-main-text {
        width: 50%;
        padding-top: 12%;
        text-align: center;
        font-size: small;
        margin-left: 25%;
        transition: transform 0.5s;
        line-height: 40px;
    }
        
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    /* For Laptops and Desktops: */
    
    li {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    a {
        display: flex;
        text-decoration: none;
        color: #333333;
        font-size: x-large;
        align-items: center;
        width: 100%;
    }

    main {
        height: 1200px;
        display: block;
    }

    .pyrgos-main-img {
        background-image: url("./img/pyrgos/seaview3.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    
    .pyrgos-main-text {
        width: 70%;
        padding-top: 14%;
        text-align: center;
        font-size: medium;
        margin-left: 15%;
        transition: transform 0.5s;
    }
        
}

@media only screen and (min-width: 414px) and (max-width: 1023px) {
    /* For Tablets */

    li {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    a {
        display: flex;
        text-decoration: none;
        color: #333333;
        font-size: larger;
        align-items: center;
    }

    main {
        height: 1000px;
        display: block;
    }

    .pyrgos-main-img {
        background-image: url("./img/pyrgos/seaview3.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
    }
    
    .pyrgos-main-text {
        width: 100%;
        padding-top: 13%;
        text-align: center;
        font-size: large;
        margin-left: 0%;
        transition: transform 0.5s;
    }        
}

@media only screen and (max-width: 414px) {
    /* For Mobile Phones */

    li {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    a {
        display: flex;
        text-decoration: none;
        color: #333333;
        font-size: larger;
        align-items: center;
    }

    main {
        height: 1000px;
        display: block;
    }

    .pyrgos-main-img {
        background-image: url("./img/pyrgos/seaview3.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
    }
    
    .pyrgos-main-text {
        width: 100%;
        padding-top: 15%;
        text-align: center;
        font-size: medium;
        margin-left: 0%;
        transition: transform 0.5s;
    }   
}