/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: auto;
    font-family: 'Play', sans-serif;
	width: 100%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Play', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 10%;
    background: #333333;
    padding: 0.5rem;
    border: 1px solid gray;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
}

.hidden {
    opacity: 0%;
}

.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: #eba49d;
}

.back-to-top:hover {
    opacity: 60%;
}

header {
    height: 20%;
    width: 100%;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: transparent;
}

header a {
    margin: 0 15%;
    width: 100%;
}

header span {
    display: none;
}

.nav-logo {
    margin-left: 17vw;
    width: 10vw;
}

.navbar-fixed-top {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.closebtn {
    display: none;
}

.overlay-content {
    display: flex;
    width: 100%;
    flex-direction: row;
}

ul {
    align-items: center;
    height: 100%;
}

li {
    width: 100vw;
    display: flex;
    justify-content: center;
}

li:nth-child(2) {
    text-decoration: underline;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #333333;
    font-size: 1vw;
    align-items: center;
    width: 100%;
}

a:hover {
    color: #eba49d;
}

.hamburger {
    display: none;
}

.pyrgos-pano1 {
    background-image: url("./img/pyrgos/seaview2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

main {
    height: 100%;
    display: block;
}

.properties-text {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    text-align: left;
    font-size: x-large;
    margin-left: 25%;
    line-height: 30px;
}

.properties-text h1 {
    font-size: 2.5vw;
}

.portfolio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 20%;
    margin-top: 2.5%;
}

.polaroid {
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 5%;
    transition: transform 1s, filter 2s ease-in-out;
    /* filter: blur(0.65px); */
}

.polaroid:hover {
    /* filter: blur(0); */
    transform: scale(1.03);
}
  
.container {
    padding: 10px;
    transition: transform 1s;
}

footer {
    background-color: #333333;
    color: #d9d9d9;
    text-align: center;
    width: 100%;
    height: 100%;
    bottom: 0px;
}

span {
    color: #d9d9d9;
    font-size: medium;
    width: auto;
    display: flex;
    justify-content: center;
}

span a {
    color: #d9d9d9;
    font-size: medium;
    display: inline;
}

.social {
    display: flex;
    justify-content: center;
    height: auto;
}

.social a {
    display: flex;
    width: 3%;
    margin-left: 1%;
    margin-right: 1%;
    height: 50px;
}

.fa {
    margin: 0;
    font-size: 30px;
    text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: #eba49d;
  }
  
  .fa-google {
    color: #eba49d;
  }
  
  .fa-youtube {
    color: #eba49d;
  }
  
  .fa-instagram {
    color: #eba49d;
  }

  .fa-tiktok {
    color: #eba49d;
  }
  
  footer .heart {
    color: #eba49d;
}

@media only screen and (min-width: 1535px) {
    /* For Large Desktop Screens: */

    .nav-logo {
        margin-left: 1vw;
        width: 100%;
    }

    .overlay-content {
        width: 60vw;
        margin-left: -12vw;
    }

    li {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-right: 9vw;
    }

    .nav-item a {
        font-size: 1.5vw;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    h1 {
        display: block;
        margin-top: auto;
        margin-bottom: 5vh;
        width: auto;
    }

    .portfolio :nth-child(4) img {
        height: 37vh;
        width: 100%;
    }

    .social a {
        display: flex;
        width: 2%;
        margin-left: 1.2%;
        margin-right: 1.2%;
        height: 50px;       
    }

}

@media only screen and (min-width: 1366px) and (max-width: 1535px) {
    /* For Desktops: */
 
    .nav-logo {
        margin-left: 1vw;
        width: 100%;
    }

    .overlay-content {
        width: 60vw;
        margin-left: -12vw;
    }

    li {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-right: 7vw;
    }

    .nav-item a {
        font-size: 1.5vw;
    }

    .nav-link3 {
        width: 8vw;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    .portfolio :nth-child(4) img {
        height: 37.5vh;
        width: 100%;
    }

    .social a {
        display: flex;
        width: 2%;
        margin-left: 1.2%;
        margin-right: 1.2%;
        height: 50px;    
    }   
}

@media only screen and (min-width: 864px) and (max-width: 1366px) {
    /* For Laptops and Desktops: */

    .nav-logo {
        margin-left: 1vw;
        width: 100%;
    }

    .overlay-content {
        width: 60vw;
        margin-left: -12vw;
    }

    li {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-right: 7vw;
    }

    .nav-item a {
        font-size: 2vw;
    }

    .nav-link3 {
        width: 14vw;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    .properties-text {
        margin-left: 34%;
        width: 32%;
    }

    .properties-text h1 {
        font-size: 3vw;
    }

    .portfolio {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 75%;
        margin-left: 12.5%;
        margin-top: 2.5%;
    }

    .portfolio :nth-child(4) img {
        height: 37.5vh;
        width: 100%;
    }

    .social a {
        display: flex;
        width: 3%;
        margin-left: 1.8%;
        margin-right: 1.8%;
        height: 50px;       
    }

}

@media only screen and (min-width: 510px) and (max-width: 864px) {

    /* For Tablets */

    .nav-logo {
        margin-left: 1vw;
        width: 100%;
    }

    .overlay-content {
        width: 60vw;
        margin-left: -12vw;
    }

    li {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-right: 7vw;
    }

    .nav-item a {
        font-size: 2.5vw;
    }

    .nav-link3 {
        width: 18vw;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    .properties-text {
        margin-left: 28.5%;
        width: 43%;
    }

    .properties-text h1 {
        font-size: 4vw;
        text-align: center;
    }

    .portfolio :nth-child(4) img {
        height: 40vh;
        width: 100%;
    }

    .social a {
        display: flex;
        width: 4%;
        margin-left: 3%;
        margin-right: 3%;
        height: 50px;       
    }

}

@media only screen and (min-width: 361px) and (max-width: 510px) {

    /* For Mobile Phones */

    .navbar-fixed-top {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-left: 0%;
        height: 80%;
    }

    .nav-logo {
        visibility: visible;
        margin-left: 25%;
        margin-top: 1%;
        width: 50%;
    }

    .back-to-top {
        right: 1rem;
        bottom: 1rem;
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.95);
        overflow-y: hidden;
        transition: 0.5s;
        display: flex;
        justify-content: center;
    }
    
    .overlay-content {
        display: flex;
        flex-direction: column;
        position: relative;
        width: fit-content;
        text-align: center;
        margin-top: 20%;
    }
    
    .overlay a {
        display: flex;
        text-decoration: none;
        color: #818181;
        transition: 0.3s;
    }
      
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
      
    .closebtn {
        position: absolute;
        top: 20px;
        right: -10vw;
        width: auto;
        font-size: 40px;
    }
    
    .overlay-content a {
        font-size: 20px;
        margin: 80px;
    }

    .hamburger {
        display: inline-flex;
        position: absolute;
        width: fit-content;
        color: #333333;
        background-color: transparent;
        margin-top: 4%;
        margin-left: 5%;
    }

    a {
        display: flex;
        text-decoration: none;
        color: #333333;
        font-size: small;
        align-items: center;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    .properties-text {
        margin-left: 22.5%;
        width: 55%;
    }

    .properties-text h1 {
        font-size: 5vw;
        text-align: center;
    }

    .portfolio :nth-child(4) img {
        height: 30vh;
        width: 100%;
    }

    .container {
        font-size: 3vw;
    }

    .social a {
        display: flex;
        width: 8%;
        margin-left: 4%;
        margin-right: 4%;
        height: 50px;       
    }

}

@media only screen and (max-width: 360px) {
    /* For Small screens */
    
    .navbar-fixed-top {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-left: 0%;
        height: 80%;
    }

    .nav-logo {
        visibility: visible;
        margin-left: 25%;
        margin-top: 0%;
        width: 50%;
    }

    .back-to-top {
        right: 1rem;
        bottom: 1rem;
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.95);
        overflow-y: hidden;
        transition: 0.5s;
        display: flex;
        justify-content: center;
    }
    
    .overlay-content {
        display: flex;
        flex-direction: column;
        position: relative;
        width: fit-content;
        text-align: center;
        margin-top: 20%;
    }
    
    .overlay a {
        display: flex;
        text-decoration: none;
        color: #818181;
        transition: 0.3s;
    }
      
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
      
    .closebtn {
        position: absolute;
        top: 20px;
        right: -10vw;
        width: auto;
        font-size: 40px;
    }
    
    .overlay-content a {
        font-size: 20px;
        margin: 80px;
    }

    .hamburger {
        display: inline-flex;
        position: absolute;
        width: fit-content;
        color: #333333;
        background-color: transparent;
        margin-top: 4%;
        margin-left: 5%;
    }

    a {
        display: flex;
        text-decoration: none;
        color: #333333;
        font-size: small;
        align-items: center;
    }

    main {
        height: auto;
        display: block;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    .properties-text {
        margin-left: 22.5%;
        width: 55%;
    }

    .properties-text h1 {
        font-size: 5vw;
        text-align: center;
    }

    .portfolio :nth-child(4) img {
        height: 22vh;
        width: 100%;
    }

    .container {
        font-size: 3vw;
    }

    .social a {
        display: flex;
        width: 8%;
        margin-left: 5%;
        margin-right: 5%;
        height: 50px;       
    }

}